{% extends 'base/base.html' %}
{% block title %} Agregar rescatista {% endblock %}

{% block content %}
<div class="container">
	<div>
		<h3>Crear registro de rescatista</h3>
		<br/>
	</div>
	<form method="post">
		{% csrf_token %}
		<div class="form-group">
	    	<label for="nombreHelp">Nombre</label>
	    	{{ form.nombre }}
	    	<small id="nombreHelp" class="form-text text-muted">Escribe el nombre de tu mascota aquí.</small>
	  	</div>

	  	<div class="form-group">
	    	<label for="exampleInputEmail1">Apellidos</label>
	    	{{ form.apellidos }}
	    	<small id="emailHelp" class="form-text text-muted">Escribe que animal es tu mascota.</small>
	  	</div>

	  	<div class="form-group">
	    	<label for="exampleInputEmail1">Edad</label>
	    	{{ form.edad }}
	    	<small id="emailHelp" class="form-text text-muted">Edad aproximada de tu mascota.</small>
	  	</div>

	  	<div class="form-group">
	    	<label for="exampleInputEmail1">Teléfono</label>
	    	{{ form.telefono }}
	    	<small id="emailHelp" class="form-text text-muted">¿Cuando recuerdas aproximadamente que fue rescatada?</small>
	  	</div>

	  	<div class="form-group">
	    	<label for="exampleInputEmail1">Email</label>
	    	{{ form.email }}
	    	<small id="emailHelp" class="form-text text-muted">Tendrás que seleccionar la persona que la rescató. Si no te encuentras en los registros es posible que debas ir al apartado de "Agregar rescatista".</small>
	  	</div>

	  	<div class="form-group">
	    	<label for="exampleInputEmail1">Domicilio</label>
	    	{{ form.domicilio }}
	    	<small id="emailHelp" class="form-text text-muted">Elije por favor el nombre de tu vacuna.</small>
	  	</div>

	  	<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
</div>
	
{% endblock %}